.color-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.box:hover {
  transform: scale(1.1);
}